

*/

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* flex-wrap: wrap;  */
}

body {
     background-image: url("assets/burger-friends.jpg");
    /* background-repeat: no-repeat; */
    /* background: rgb(255,255,255); */
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

.top-header {
height: 10%;
width: 100vw;
background-color: rgb(20,185,178);
/* flex: 100%; */
display: flex;
justify-content: flex-end;
flex-direction: column;
align-content: center;
align-items: center;

}

.main-page {
    height: 90%;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}


.form-container {
    height: 100%;
    width: 100%;
    display: flex;
 
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    
    }



.selection-box {
    border: 1px black solid;
    background-color: rgb(255,255,255);
    opacity: .75;
    height: 450px;
    width: 450px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    padding-left: 35px;
    
    }

    .main-container {
        width: 350px;
    }
    
    .display-box {
    border: 1px black solid;
    background-color: rgb(255,255,255);
    opacity: .75;
    height: 450px;
    width: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    }

    .cookpot-svg {
        height: 150px;
        width: 150px; 
        align-content: center;
        align-items: center;
        justify-content: center;
    }



h2 {
    margin-top: 35px;

}
    


.display-box) {
    
}

.lets-cook-button {
    background: rgb(20,185,178);
    float: left;
    margin-bottom: 35px
}

.add-recipe-button {
    background: rgb(255,255,255);
    float: right;
}

/* hidden will always be at the bottom */
.hidden {
    display: none
}
